.sol-lluvia {
  width: 80px;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 20px;
}

.luna-lluvia {
  width: 80px;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 20px;
}

.nube-lluvia-con-sol {
  position: relative;
  z-index: 2;
}

.lluvia {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 120px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  img {
    width: 12px;
  }
}
