@import '../../variables';

.info-clima-horario {
  margin: 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 65px;

  &:last-child {
    margin: 0;
  }

  .horario {
    font-size: 0.9em;
  }
}

// HORARIOS NUBES
.nube-prox-horario {
  width: 32px;
  margin: 0.5em 0;
}
